@font-face {
  font-family: "Sail";
  src: url('./fonts/Sail.zip') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
 font-family: 'Sail','cursive'
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}